name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-13 # -latest is arm64 only
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
      - uses: pxshadow/setup-hashlink@v1.0.4
      - name: install lix
        run: npm i lix -g
      - name: run lix
        run: npx lix download
      - name: build test
        run: npx haxe tests.hxml
      - name: run test
        run: hl test.hl
        timeout-minutes: 3
